body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: right;
    box-sizing: border-box;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 90%;
    margin: 20px auto;
}

#sentence {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#answerInput {
    padding: 5px;
    font-size: 24px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color 0.3s ease, width 0.3s ease;
    box-sizing: content-box; /*  Додаємо box-sizing */
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 1em;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}