<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Learning</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <a href="/stat" id="statButton">Statistics</a>
</header>

<div class="container">
    <div id="learningPage">
        <div id="cardCounter"></div>
        <p id="sentence"></p>
        <p id="translation"></p>
        <p id="synonyms"></p>
        <button id="nextButton">Check</button>
        <div id="lastAnswered"></div>
    </div>

    <div id="resultPage" style="display: none;">
        <h2>Results</h2>
        <div id="resultContainer"></div>
        <button onclick="location.reload()">Try again</button>
    </div>
</div>

<script src="/js/script.js"></script>
</body>
</html>